<a href="https://colab.research.google.com/github/EduardoBrito97/AM-Projeto/blob/main/calculo_diferen%C3%A7a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
table4 = pd.read_csv ('/content/tabela4.csv')
table4 = table4.set_index('Datasets')
table4

            CC-kSS  WPC-kSS  COH-kSS  SEP-kSS  GP-kSS
Datasets
Ecoli       0.7483   0.7276   0.7064   0.7527  0.9082
Glass       0.4881   0.5322   0.5671   0.5301  0.7463
Haberman    0.5638   0.5760   0.5322   0.5220  0.6589
Ionosphere  0.7635   0.9258   0.8155   0.6847  0.9726
Iris        0.9677   0.9603   0.9467   0.9467  0.9943
Pima        0.7174   0.6672   0.7095   0.6698  0.7879
Sonar       0.7333   0.8193   0.8277   0.7481  0.9115
Thyroid     0.8310   0.9411   0.9065   0.8235  0.9698
Vehicle     0.6550   0.7168   0.7100   0.7087  0.7598
WDBC        0.9617   0.9321   0.9652   0.9615  0.9750
Wine        0.9568   0.9118   0.9316   0.9730  0.9854
MEAN        0.7624   0.7918   0.7835   0.7564  0.8791

In [ ]:
table5 = pd.read_csv ('/content/tabela_5_artigo.csv')
table5 = table5.set_index('Datasets')
table5 = table5.drop('GP-kSS', 1)
table5

               kNN   DWkNN  WAF(CC)  WAF(CD)  ...   DTree  NBayes     SVM     MLP
Datasets                                      ...
Ecoli       0.7482  0.7465   0.7517   0.7251  ...  0.6573  0.5042  0.7562  0.7354
Glass       0.5358  0.5724   0.5773   0.5940  ...  0.5663  0.4080  0.5816  0.5602
Haberman    0.5235  0.5218   0.5098   0.5296  ...  0.5863  0.5907  0.5434  0.5445
Ionosphere  0.7773  0.7773   0.7851   0.8306  ...  0.8588  0.8656  0.9418  0.9091
Iris        0.9467  0.9678   0.9539   0.9539  ...  0.9455  0.9381  0.9554  0.9522
Pima        0.7039  0.7065   0.6941   0.6949  ...  0.6818  0.6443  0.7059  0.7200
Sonar       0.8117  0.8165   0.8033   0.8392  ...  0.7059  0.7104  0.8769  0.8096
Thyroid     0.8772  0.9154   0.9094   0.9162  ...  0.8742  0.8882  0.9246  0.9224
Vehicle     0.7109  0.7073   0.6881   0.7197  ...  0.6749  0.7138  0.8256  0.8097
WDBC        0.9612  0.9612   0.9612   0.9615  ...  0.9070  0.9271  0.9736  0.9652
Wine        0.9635  0.9635   0.9635   0.9686  ...  0.8889  0.9722  0.9749  0.9748
MEAN        0.7782  0.7869   0.7816   0.7939  ...  0.7588  0.7258  0.8236  0.8094

[12 rows x 10 columns]

In [ ]:
table_article = pd.concat([table5,table4],axis=1)
table_article = table_article.drop('WAF(CC)', 1)
table_article = table_article.drop('WAF(CD)', 1)
table_article = table_article.drop('GFRNN', 1)
table_article = table_article.drop('Im-GFRNN', 1)
table_article

               kNN   DWkNN   DTree  NBayes  ...  WPC-kSS  COH-kSS  SEP-kSS  GP-kSS
Datasets                                    ...
Ecoli       0.7482  0.7465  0.6573  0.5042  ...   0.7276   0.7064   0.7527  0.9082
Glass       0.5358  0.5724  0.5663  0.4080  ...   0.5322   0.5671   0.5301  0.7463
Haberman    0.5235  0.5218  0.5863  0.5907  ...   0.5760   0.5322   0.5220  0.6589
Ionosphere  0.7773  0.7773  0.8588  0.8656  ...   0.9258   0.8155   0.6847  0.9726
Iris        0.9467  0.9678  0.9455  0.9381  ...   0.9603   0.9467   0.9467  0.9943
Pima        0.7039  0.7065  0.6818  0.6443  ...   0.6672   0.7095   0.6698  0.7879
Sonar       0.8117  0.8165  0.7059  0.7104  ...   0.8193   0.8277   0.7481  0.9115
Thyroid     0.8772  0.9154  0.8742  0.8882  ...   0.9411   0.9065   0.8235  0.9698
Vehicle     0.7109  0.7073  0.6749  0.7138  ...   0.7168   0.7100   0.7087  0.7598
WDBC        0.9612  0.9612  0.9070  0.9271  ...   0.9321   0.9652   0.9615  0.9750
Wine        0.9635  0.9635  0.8889  0.9722  ...   0.9118   0.9316   0.9730  0.9854
MEAN        0.7782  0.7869  0.7588  0.7258  ...   0.7918   0.7835   0.7564  0.8791

[12 rows x 11 columns]

In [ ]:
our = pd.read_csv ('/content/all_algorithms.csv')
our = our.set_index('Dataset')
our

               kNN   DWkNN   DTree  NBayes  ...  WPC-kSS  COH-kSS  SEP-kSS  GP-kSS
Dataset                                     ...
Ecoli       0.7462  0.7709  0.6358  0.5053  ...   0.6823   0.6934   0.7295  0.7414
Glass       0.9069  0.9563  0.9238  0.7567  ...   0.9492   0.9385   0.9536  0.8849
Haberman    0.5556  0.5640  0.5660  0.5560  ...   0.6034   0.5739   0.5333  0.5796
Ionosphere  0.7947  0.7893  0.8633  0.8660  ...   0.9240   0.8330   0.6625  0.8367
Iris        0.9719  0.9633  0.9477  0.9431  ...   0.9649   0.9594   0.9594  0.9497
Pima        0.6919  0.6757  0.6960  0.7261  ...   0.6595   0.6934   0.6862  0.5723
Sonar       0.7464  0.7893  0.7035  0.6360  ...   0.7783   0.7333   0.7265  0.7265
Thyroid     0.8270  0.9004  0.9164  0.9577  ...   0.8986   0.9016   0.8412  0.9023
Vehicle     0.6259  0.6269  0.6959  0.4351  ...   0.6203   0.6160   0.6225  0.5961
WDBC        0.6828  0.7513  0.9170  0.3941  ...   0.7190   0.6892   0.6921  0.3599
Wine        0.6896  0.7314  0.9207  0.9648  ...   0.6751   0.6536   0.6606  0.6568
MEAN        0.7490  0.7744  0.7987  0.7037  ...   0.7704   0.7532   0.7334  0.7097

[12 rows x 11 columns]

In [ ]:
compare = table_article - our
compare = compare.round(4)
compare

               kNN   DWkNN   DTree  NBayes  ...  WPC-kSS  COH-kSS  SEP-kSS  GP-kSS
Datasets                                    ...
Ecoli       0.0020 -0.0244  0.0215 -0.0011  ...   0.0453   0.0130   0.0232  0.1668
Glass      -0.3711 -0.3839 -0.3575 -0.3487  ...  -0.4170  -0.3714  -0.4235 -0.1386
Haberman   -0.0321 -0.0422  0.0203  0.0347  ...  -0.0274  -0.0417  -0.0113  0.0793
Ionosphere -0.0174 -0.0120 -0.0045 -0.0004  ...   0.0018  -0.0175   0.0222  0.1359
Iris       -0.0252  0.0045 -0.0022 -0.0050  ...  -0.0046  -0.0127  -0.0127  0.0446
Pima        0.0120  0.0308 -0.0142 -0.0818  ...   0.0077   0.0161  -0.0164  0.2156
Sonar       0.0653  0.0272  0.0024  0.0744  ...   0.0410   0.0944   0.0216  0.1850
Thyroid     0.0502  0.0150 -0.0422 -0.0695  ...   0.0425   0.0049  -0.0177  0.0675
Vehicle     0.0850  0.0804 -0.0210  0.2787  ...   0.0965   0.0940   0.0862  0.1637
WDBC        0.2784  0.2099 -0.0100  0.5330  ...   0.2131   0.2760   0.2694  0.6151
Wine        0.2739  0.2321 -0.0318  0.0074  ...   0.2367   0.2780   0.3124  0.3286
MEAN        0.0292  0.0125 -0.0399  0.0221  ...   0.0214   0.0303   0.0230  0.1694

[12 rows x 11 columns]

In [ ]:
print(compare.to_csv(index=True))

Datasets,kNN,DWkNN,DTree,NBayes,SVM,MLP,CC-kSS,WPC-kSS,COH-kSS,SEP-kSS,GP-kSS
Ecoli,0.002,-0.0244,0.0215,-0.0011,0.0017,0.1102,0.0558,0.0453,0.013,0.0232,0.1668
Glass,-0.3711,-0.3839,-0.3575,-0.3487,-0.2586,-0.1922,-0.4655,-0.417,-0.3714,-0.4235,-0.1386
Haberman,-0.0321,-0.0422,0.0203,0.0347,-0.0041,-0.0124,0.0014,-0.0274,-0.0417,-0.0113,0.0793
Ionosphere,-0.0174,-0.012,-0.0045,-0.0004,0.0053,-0.0033,0.0001,0.0018,-0.0175,0.0222,0.1359
Iris,-0.0252,0.0045,-0.0022,-0.005,-0.0098,-0.0264,0.0011,-0.0046,-0.0127,-0.0127,0.0446
Pima,0.012,0.0308,-0.0142,-0.0818,-0.0042,0.0419,0.0206,0.0077,0.0161,-0.0164,0.2156
Sonar,0.0653,0.0272,0.0024,0.0744,0.0094,-0.0125,0.0147,0.041,0.0944,0.0216,0.185
Thyroid,0.0502,0.015,-0.0422,-0.0695,0.0992,0.1013,-0.0166,0.0425,0.0049,-0.0177,0.0675
Vehicle,0.085,0.0804,-0.021,0.2787,0.2071,0.2868,0.0524,0.0965,0.094,0.0862,0.1637
WDBC,0.2784,0.2099,-0.01,0.533,0.5858,0.587,0.295,0.2131,0.276,0.2694,0.6151
Wine,0.2739,0.2321,-0.0318,0.0074,0.2923,0.6972,0.2925,0.2367,0.278,0.3124,0.3286
MEAN,0.0292,0.0125,-0.0399,0.0221,0.084,0.1434,0.0228,0.0214,0.0303,0.023,0.1694

In [31]:
our_scaling = pd.read_csv ('/content/all_algorithms_com_scaling.csv')
our_scaling = .set_index('Dataset')
our_scaling

               kNN   DWkNN   DTree  NBayes  ...  WPC-kSS  COH-kSS  SEP-kSS  GP-kSS
Dataset                                     ...
Ecoli       0.7632  0.6999  0.6969  0.4752  ...   0.6828   0.6602   0.7443  0.7293
Glass       0.6297  0.7411  0.9277  0.7695  ...   0.9423   0.9462   0.9652  0.8943
Haberman    0.5025  0.5115  0.6007  0.5751  ...   0.6491   0.6129   0.5299  0.6102
Ionosphere  0.7932  0.7874  0.8690  0.8693  ...   0.9296   0.8337   0.6754  0.7997
Iris        0.9577  0.9685  0.9308  0.9394  ...   0.9633   0.9633   0.9500  0.9633
Pima        0.7082  0.6980  0.6834  0.7161  ...   0.6593   0.6773   0.6712  0.5809
Sonar       0.8033  0.7904  0.7198  0.6686  ...   0.7712   0.7657   0.7391  0.7404
Thyroid     0.8449  0.8737  0.9017  0.9463  ...   0.8654   0.8724   0.8275  0.8719
Vehicle     0.7079  0.6946  0.6835  0.4261  ...   0.6242   0.6223   0.6314  0.5958
WDBC        0.9623  0.9630  0.9338  0.9273  ...   0.7248   0.6931   0.7020  0.3811
Wine        0.9666  0.9701  0.8718  0.9701  ...   0.7237   0.7034   0.7050  0.7050
MEAN        0.7854  0.7907  0.8018  0.7530  ...   0.7760   0.7591   0.7401  0.7156

[12 rows x 11 columns]

In [34]:
compare_scaling = table_article - our_scaling
compare_scaling = compare_scaling.round(4)
compare_scaling

               kNN   DWkNN   DTree  NBayes  ...  WPC-kSS  COH-kSS  SEP-kSS  GP-kSS
Datasets                                    ...
Ecoli      -0.0150  0.0466 -0.0396  0.0290  ...   0.0448   0.0462   0.0084  0.1789
Glass      -0.0939 -0.1687 -0.3614 -0.3615  ...  -0.4101  -0.3791  -0.4351 -0.1480
Haberman    0.0210  0.0103 -0.0144  0.0156  ...  -0.0731  -0.0807  -0.0079  0.0487
Ionosphere -0.0159 -0.0101 -0.0102 -0.0037  ...  -0.0038  -0.0182   0.0093  0.1729
Iris       -0.0110 -0.0007  0.0147 -0.0013  ...  -0.0030  -0.0166  -0.0033  0.0310
Pima       -0.0043  0.0085 -0.0016 -0.0718  ...   0.0079   0.0322  -0.0014  0.2070
Sonar       0.0084  0.0261 -0.0139  0.0418  ...   0.0481   0.0620   0.0090  0.1711
Thyroid     0.0323  0.0417 -0.0275 -0.0581  ...   0.0757   0.0341  -0.0040  0.0979
Vehicle     0.0030  0.0127 -0.0086  0.2877  ...   0.0926   0.0877   0.0773  0.1640
WDBC       -0.0011 -0.0018 -0.0268 -0.0002  ...   0.2073   0.2721   0.2595  0.5939
Wine       -0.0031 -0.0066  0.0171  0.0021  ...   0.1881   0.2282   0.2680  0.2804
MEAN       -0.0072 -0.0038 -0.0430 -0.0272  ...   0.0158   0.0244   0.0163  0.1635

[12 rows x 11 columns]

In [35]:
print(compare_scaling.to_csv(index=True))

Datasets,kNN,DWkNN,DTree,NBayes,SVM,MLP,CC-kSS,WPC-kSS,COH-kSS,SEP-kSS,GP-kSS
Ecoli,-0.015,0.0466,-0.0396,0.029,0.0099,-0.0343,0.0195,0.0448,0.0462,0.0084,0.1789
Glass,-0.0939,-0.1687,-0.3614,-0.3615,-0.2297,-0.2793,-0.4827,-0.4101,-0.3791,-0.4351,-0.148
Haberman,0.021,0.0103,-0.0144,0.0156,-0.0096,-0.0447,-0.0251,-0.0731,-0.0807,-0.0079,0.0487
Ionosphere,-0.0159,-0.0101,-0.0102,-0.0037,-0.002,-0.0002,0.0003,-0.0038,-0.0182,0.0093,0.1729
Iris,-0.011,-0.0007,0.0147,-0.0013,0.0027,-0.0127,0.0044,-0.003,-0.0166,-0.0033,0.031
Pima,-0.0043,0.0085,-0.0016,-0.0718,-0.0092,0.0188,0.0376,0.0079,0.0322,-0.0014,0.207
Sonar,0.0084,0.0261,-0.0139,0.0418,-0.0057,0.0075,0.0168,0.0481,0.062,0.009,0.1711
Thyroid,0.0323,0.0417,-0.0275,-0.0581,-0.0015,-0.0337,-0.0084,0.0757,0.0341,-0.004,0.0979
Vehicle,0.003,0.0127,-0.0086,0.2877,-0.0057,-0.0125,0.0542,0.0926,0.0877,0.0773,0.164
WDBC,-0.0011,-0.0018,-0.0268,-0.0002,-0.0017,-0.007,0.2909,0.2073,0.2721,0.2595,0.5939
Wine,-0.0031,-0.0066,0.0171,0.0021,-0.0008,0.0033,0.2592,0.1881,0.2282,0.268,0.2804
MEAN,-0.0072,-0.0038,-0.043,-0.0272,-0.0231,-0.0359,0.0151,0.0158,0.0244,0.0163,0.1635

In [4]:
df = pd.read_csv ('/content/wine.csv')
df['class'].value_counts()

2    71
1    59
3    48
Name: class, dtype: int64

In [5]:
df

     class  Alcohol  Malic_acid  ...   Hue  OD280/OD315_of_diluted_wines  Proline
0        1    14.23        1.71  ...  1.04                          3.92     1065
1        1    13.20        1.78  ...  1.05                          3.40     1050
2        1    13.16        2.36  ...  1.03                          3.17     1185
3        1    14.37        1.95  ...  0.86                          3.45     1480
4        1    13.24        2.59  ...  1.04                          2.93      735
..     ...      ...         ...  ...   ...                           ...      ...
173      3    13.71        5.65  ...  0.64                          1.74      740
174      3    13.40        3.91  ...  0.70                          1.56      750
175      3    13.27        4.28  ...  0.59                          1.56      835
176      3    13.17        2.59  ...  0.60                          1.62      840
177      3    14.13        4.10  ...  0.61                          1.60      560

[178 rows x 14 columns]