In [1]:
from kss import KSS
from data_utils import *
from sklearn.metrics import classification_report, confusion_matrix  
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

In [2]:
MF = ['SEP','COH']

In [3]:
features = []
labels = []
names = []

datasets = [Ecoli(),Glass(),Haberman(),Ionosphere(),Iris(),Pima(),Sonar(),Thyroid(),Vehicle(),WDBC(),Wine()]
for data in datasets:
    f,l = data.get_data()
    features.append(f)
    labels.append(l)
    names.append(type(data).__name__)

In [4]:
results ={}

for i in range(len(names)):
    feature = features[i].to_numpy()
    label = labels[i].to_numpy()
    name = names[i]
    
    kf = KFold(n_splits=10, random_state=None, shuffle=True)
    k_fold_result = list(kf.split(feature,label))
    
    for mf_type in MF:
        f1_score = 0
        for train_index, test_index in k_fold_result:
            X_train, X_test = feature[train_index], feature[test_index]
            y_train, y_test = label[train_index], label[test_index]
            
            kss = KSS(7)
            kss.fit(X_train,y_train,mf_type)
            y_pred = kss.predict(X_test)

            f1_score += classification_report(y_test, y_pred,output_dict=True)['macro avg']['f1-score']
        results[i,mf_type] = [name,mf_type,f1_score/10]

/home/jujubapc/miniconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jujubapc/miniconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/jujubapc/Documents/GitHub/AM-Projeto/kss.py:45: RuntimeWarning: divide by zero encountered in log2
  mass = 1/(np.log2(sumOfDistances))

In [5]:
df = pd.DataFrame.from_dict(results,orient='index',columns=['Data Set','MF', "F1-Score"])

In [6]:
df

             Data Set   MF  F1-Score
(0, SEP)        Ecoli  SEP  0.749529
(0, COH)        Ecoli  COH  0.706047
(1, SEP)        Glass  SEP  0.930254
(1, COH)        Glass  COH  0.914508
(2, SEP)     Haberman  SEP  0.501584
(2, COH)     Haberman  COH  0.573955
(3, SEP)   Ionosphere  SEP  0.646924
(3, COH)   Ionosphere  COH  0.815437
(4, SEP)         Iris  SEP  0.953050
(4, COH)         Iris  COH  0.960842
(5, SEP)         Pima  SEP  0.671988
(5, COH)         Pima  COH  0.677460
(6, SEP)        Sonar  SEP  0.732176
(6, COH)        Sonar  COH  0.764878
(7, SEP)      Thyroid  SEP  0.788274
(7, COH)      Thyroid  COH  0.848323
(8, SEP)      Vehicle  SEP  0.648402
(8, COH)      Vehicle  COH  0.638463
(9, SEP)         WDBC  SEP  0.710409
(9, COH)         WDBC  COH  0.697676
(10, SEP)        Wine  SEP  0.663490
(10, COH)        Wine  COH  0.677220